@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgb(173, 65, 19);
  line-height: 1.5;
  font-size: 18px;
  font-family: Arial, sans-serif;
  background: white;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@page {
  margin: 20mm 15mm;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .page-break {
    break-before: page;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}